* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #333; */
}

.logo-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

.logo-image {
  width: 35px;
  height: 35px;
}

.button-logo-text-container {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  font-family: inherit;
  border: 2px #c5c3c3 solid;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.button-logo-text-container:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.glob-image {
  width: 30px;
  height: 30px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.language {
  color: black;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
}

.nav-right span {
  color: #c5c3c3;
  font-size: 20px;
  text-align: center;
}

.sign-in--button {
  color: black;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  background-color: #f04139;
  color: #f4f4f4;

  padding: 8px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px rgba(1, 1, 1, 0.05);
}

.sign-in--button:hover {
  background-color: #f04239d8;
}

.log-in--button {
  color: black;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #000000;
  border: 2px #c5c3c3 solid;
  padding: 8px 20px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px rgba(1, 1, 1, 0.05);
}

.log-in--button:hover {
  background-color: #dddddd;
}

.three-dots {
  font-size: 20px;
  color: #000000;
}

.header-bottom ul {
  display: flex;
  gap: 70px;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 20px;
}

.header-bottom ul a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.4rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 7rem;
  /* gap: 30px; */
  background-color: #f7f9fb;
}

.text-container h1 {
  font-family: Montserrat;
  text-align: center;
  font-size: 38px;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 1.7;
}

.text-container span {
  font-family: montserrat;
  text-align: center;
  font-size: 18px;
  margin-top: 44px;
}

.create-account--button {
  text-decoration: none;
  color: #fff;
  background-color: #00ac97;
  padding: 15px 22px;
  margin-top: 44px;
  font-family: Montserrat;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
}

.create-account--button:hover {
  background-color: #f04139;
}

/* Image container */
.backround-image-container {
  background-color: #f7f9fb;
}

.backround-image {
  width: 100%;
  height: 100%;
}
