* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
}

body {
  color: black;
  background-color: rgba(240, 127, 61, 0.884);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 100px;
  /* margin: 10px; */
}

.btn {
  background-color: orangered;
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.btn:hover {
  background-color: yellow;
}

.nav-text a {
  text-decoration: none;
  color: #000;
}

.nav-left {
  padding: 10px;
  color: black;
  padding-left: 57px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}

.about-me {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* margin: 0 auto; */
}

.img-container {
}
