* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
}

body {
  color: black;
  background-color: rgba(240, 127, 61, 0.884);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 100px;
  /* margin: 10px; */
}

.btn {
  background-color: orangered;
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.btn:hover {
  background-color: yellow;
}

.nav-text a {
  text-decoration: none;
  color: #000;
}

.nav-left {
  padding: 10px;
  color: black;
  padding-left: 57px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}

.continer {
  /* margin-top: 50px; */
  display: inline-block;
  /* position: absolute; */
}

.about-title {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(126, 49, 19);
  top: 12rem;
  display: flex;
  padding-left: 50rem;
}

.about-name {
  position: relative;
  font-family: sans-serif;
  font-size: 20px;
  top: 13rem;
  display: flex;
  padding-left: 50rem;
}

.about-para {
  padding: 10px;
  text-align: left;
  /* margin-top: 40px; */
  /* display: block; */
  /* padding-top: 50px; */
  top: 15rem;
  display: flex;
  padding-left: 50rem;
  position: relative;
  font-family: sans-serif;
  font-size: large;
  display: inline-block;
}

.image-dp img {
  margin: 20px;
  border-radius: 180px;
  padding: 10px;
  margin-left: 188px;
  margin-right: auto;
  display: inline-block;
}

.skills {
  margin-top: 105px;
  background-color: antiquewhite;
}
.skills-para {
  position: relative;
  text-align: left;
  padding: 20px;
  font-size: large;
  font-family: sans-serif;
  top: 8rem;
}

.skills-img {
  position: relative;
  bottom: 5rem;
  display: flex;
  padding-left: 50rem;
}
