* {
  font-family: sans-serif;
  width: auto 0;
}
.continer {
  width: 825px;
  border: 5px solid black;
  margin: 50px auto;
  padding: 0;
}

.more-info {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.shipping {
  text-transform: uppercase;
}

article {
  /* position: relative; */
  /* overflow: hidden; */
  /* background-color: blue; */
}

.continer {
  position: relative;
  overflow: hidden;
}

.sale {
  background-color: red;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 38px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -26px;
  transform: rotate(-45deg);
}

.sale--2 p {
  background-color: aqua;
  display: inline-block;
  padding: 8px 70px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: -56px;
  transform: rotate(45deg);
}

.color {
  background-color: black;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 30px;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

.product {
  text-transform: uppercase;
  font-size: 16px;
}

.price {
  font-size: 25px;
}

.cart {
  border: 2px solid black;
  text-decoration: none;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 20px;
  width: 100%;
}

button:hover {
  color: black;
  background-color: white;
  padding: 15pxs;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  background-color: #f7f7ff;
  padding: 15px;
}

/* .circle {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: rgba(214, 8, 8, 0.616);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle::after {
  content: "";
  background-color: rgba(226, 67, 9, 0.589);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  transition: 1s all;
}

.circle:hover::after {
  background-color: tan;
} */
